.App {
  text-align: center;
  margin-top: 0em;
  /* max-height: 300px; */
}
.AppComponent{
  margin : 0 auto 0 auto;
  width: 600px; 
} 
.navbar.navbar-expand.navbar-dark.bg-dark.fixed-top{
  padding: .01rem 1rem;

}