.App {
  /* background-color: red; */

  text-align: center;
  /* max-height: 300px; */
  margin-top : 0;
  margin-bottom : 0;
} 
.hero-body.x{
  width: 80%;
  margin: 0 auto;
  /* background-color: red; */
}

.hero-body.x button{
  text-align: center;
}
.topNavbar{
  margin-top: 0;
  margin-bottom: 0;
}
.AppComponent{
  margin : 0 auto 0 auto;
  /* width: 600px;  */
} 

.subb1 button{ /* You Can Name it what you want*/
  /* background-color: red; */
  margin-right:16px;
  margin-top: 14em;
  margin-bottom: 2em;
  }
.subb1 button:last-child{
  margin-right:0px;
  /*so the last one dont push the div thas giving the space only between the inputs*/
}
.realstuff {
  margin-bottom: 20em;
}